@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
    padding: 1rem;
  }
}


.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 1rem 0;
  text-align: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: #c8e6c9;
}
